.home {
  min-height: 100vh;
}

.home-services {
  margin-bottom: 5%;
  color: #07a5e2;
}
.home-services h2 {
  font-family: "Jost", sans-serif;
  font-size: 42px;
  color: #07a5e2;
}

@media (max-width: 668px) {
  .home-services {
    padding-top: 1rem;
  }
}
